absl-py==0.7.1
airsim==1.2.4
cloudpickle==1.1.1
easyprocess==0.2.7
future==0.17.1
gin-config==0.1.3
google-pasta==0.1.7
gym==0.10.11
keras-applications==1.0.8
matplotlib==3.0.3
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
opencv-python==4.1.0.25
opt-einsum==2.3.2
pip==9.0.3
protobuf==3.8.0
pyglet==1.4.1
pyvirtualdisplay==0.2.4
setuptools==41.0.1
tb-nightly==1.14.0a20190614
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tf-agents-nightly==0.2.0.dev20190528
tf-estimator-nightly==1.14.0.dev2019070901
tf-nightly==1.15.0.dev20190710
tflearn==0.3.2
tfp-nightly==0.8.0.dev20190709
tornado==4.5.3
wrapt==1.11.2
xvfbwrapper==0.2.9
